#boards-avatar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  #boards-header {
    margin-right: 4em;
  }
}

#boards-container {
  justify-content: center;
}
