@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  margin: 0;
  padding: 0;
  background-color: #e6e6e6;
}

.hide {
  display: none;
}

#avatar {
  img {
    max-width: 8em;
    max-height: 8em;
    border-radius: 50%;
  }
}
