@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "../javascripts/components/navbar/navbar.scss";
@import "../javascripts/components/home/home.scss";
@import "../javascripts/components/boards/boards.scss";
@import "../javascripts/components/boardList/boardList.scss";

body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #e6e6e6;
}
