#vacations-boards {
  padding: 8px 16px;
  .btn-sm {
    width: 4em;
    background-color: red;
  }
}

#vacations-avatar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  #vacations-header {
    margin-right: 4em;
  }
}

#vacations-container {
  justify-content: center;
}
