#vacation-header {
  h1 {
    position: absolute;
    font-size: 50px;
    color: #000000;
    top: -60%;
    left: 37%;
  }
}

#vacations-to-boards {
  position: absolute;
  top: -75%;
  left: -12%;
  color: white;
  padding: 5px 10px;
  background-color: black;
  border-radius: 20px;
  &:hover {
    cursor: pointer;
  }
}
